@(image: SharedImage, form : Form[models.UploadComment])(implicit session: Session, request: RequestHeader, messages: Messages)

@main("some title", session, true) {
    <main>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/image.css")">
        <script>
                function likeImage() {
                    fetch('@routes.ImageController.likeImage(image.owner, image.imagePath)', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Csrf-Token': '@helper.CSRF.getToken.value'
                        },
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        } else {
                            return response.json();
                        }
                    }).then(data => {
                        document.getElementById("likesCount").innerHTML = data.likesCount;
                    }).catch(error => {
                        console.error('Error while liking the image');
                    });
                }
        </script>
        <div class="image-container">
            <span class="image-header-container">
                Added @image.addedDate.format("dd/MM/YYYY") by @image.owner
                <div>
                    <input type="button" onclick="likeImage()" class="like-button" value="Likes" />
                    <p id="likesCount" >@image.likes.length</p>
                </div>
            </span>
            <img src="@routes.Assets.versioned(image.getPath)" alt="image"/>
        </div>
        <div class="desc-comments-container">
            <div class="description-container">
                <h3>Description</h3>
                <p>@image.description</p>
            </div>
            <div class="comments-container">
                <h3>Comments:</h3>
                <ul class="comments-list">
                @for(comment <- image.comments) {
                    <li>
                        <span class="comment-container">
                            <h5>@comment.owner</h5>
                            <p>@comment.content</p>
                        </span>
                    </li>
                }
                </ul>
                <div class="add-comment-container">
                @helper.form(action = routes.ImageController.addComment(image.owner, image.imagePath)) {
                    @helper.CSRF.formField
                    @helper.inputText(form("comment"), Symbol("_label") -> "New comment", Symbol("placeholder") -> "This is a new comment")
                    @if(form.hasGlobalErrors) {
                        <div class="error">
                        @form.globalErrors.head.message
                        </div>
                    }
                    <input type="submit" value="Add comment" />
                }

                </div>
            </div>
        </div>
    </main>
}