@(title: String, form: Form[models.User])(implicit session: Session, request: RequestHeader, messages: Messages)

@main(title, session) {
    <div class="flex-center">
        <div class="grid-user-form">
            <div class="flex-center">
                <h2>Login</h2>
            </div>
            @* Global errors are not tied to any particular form field *@
            @if(form.hasGlobalErrors) {
                @form.globalErrors.map { (error: FormError) =>
                    <div>
                        Error: @error.key: @error.message
                    </div>
                }
            }

            @helper.form(action = routes.UserController.processLogin) {

                @helper.CSRF.formField
                @helper.inputText(
                    form("username"),
                    Symbol("_label") -> "Username:",
                    Symbol("label") -> "username",
                    Symbol("placeholder") -> "Username",
                    Symbol("size") -> 20
                )
                @helper.inputPassword(
                    form("password"),
                    Symbol("_label") -> "Password:",
                    Symbol("label") -> "password",
                    Symbol("placeholder") -> "Password",
                    Symbol("size") -> 20
                )
                <div class="flex-center"><p>Don't have an account? </p> <a href="@routes.UserController.registerView">Register</a></div>
                <div class="flex-center">
                    <input type="submit" value="Log In">
                </div>
            }
        </div>
    </div>
}