@()(implicit session: Session, requestHeader: RequestHeader,  messages: Messages)

@main("Share an image", session, true) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/shareImage.css")">
    <main>
        <h1>Share an image</h1>
        <form action="@routes.ImageController.uploadImage" method="post" enctype="multipart/form-data">
            @helper.CSRF.formField
            <input id="fileinput" type="file" name="picture">
            <label for="description" id="descriptionlabel">Description:</label>
            <textarea name="description" rows="4" cols="50" required></textarea>
            <div>
                <input type="submit" value="Share" />
                <input type="Reset" value="Cancel" />
            </div>
        </form>
    </main>
}